<!DOCTYPE html>
<style>
  .container {
    padding: 40px 120px;
  }
  .navbar-brand{
    color: #343434;
  }
  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  }
  .sticky + .content {
  padding-top: 60px;
  }
</style>
<style type="text/css">
  body {
    background: #31c3a6;
  }
  nav {
    background: #31c3a6;
  }
</style>

<script>
  window.onscroll = function() {myFunction()};
  
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
</script>

{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark active" href = "javascript:void(0)">
  <!-- <img class = "auto-fit" src="https://coin-tracker-public.s3-us-west-1.amazonaws.com/crypto-icons/cmc/64x64/1.png"> -->
    <a class="navbar-brand" href='/'>
      <img src="{% static 'crypto/cslogo.png' %}" style = 'width: 40px; height: 40px; margin: 0px'>
    </a>
    <a class="navbar-brand" href="javascript:void(0)">
      CryptoSearch
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Screeners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Charts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">All</a>
            <a class="dropdown-item" href="#">Top 10</a>
            <a class="dropdown-item" href="#">Upcoming</a>
          </div>
        </li>
       </ul>
    </div>
</nav>

<div class="p-5 mb-2 text-white bg-dark">
<html lang = "en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset = "utf-8">
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
</div>