{% extends "base.html" %}
{% block title %}{{ ticker }}{% endblock %}
{% block content %}
<style>
    /* div.container4 {
    height: 10em;
    position: relative;margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) } */
    div.card1{
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15x;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    }

</style>
<body style = 'background-color: rgb(52, 58, 64)'>
    <div class = "container text-center">
        <h1> {{ ticker }} - No such coin exists</h1>
        <p> Go back to home page</p>
        <a href='/'>
            <img src="https://cdn.discordapp.com/attachments/614555058008490001/841796107410473000/KEKSad.png">
        </a>
        
    <div>
</body>

{% endblock %}